.post_list{
    margin-bottom: 30px;
    .post_preview{
        border-bottom: 2px solid #8080804d;
        padding: 20px 10px;
        &:hover{
            //background: #0085a112;
            .btn_read_post{
                background-color: #0085A1; 
                span{
                    color: white !important;
                }
            }
        }
        .div_post{
            position: relative;
            display: flex;
            justify-content: space-between;
            .post_info{
                >div{
                    padding: 5px 0;
                }
                .post_date{
                    font-size: 18px;
                    color: darkgray;
                    font-style: italic;
                }
                .post_title{
                    font-size: 25px;
                    font-weight: bold;
                    color: #0085A1;
                }
                .post_excerpt{
                    width: 75%;
                }
            }
            .btn_read_post{
                position: absolute;
                bottom: 0;
                right: 0;
                height: 40px;
                border: 3px solid #0085A1;
                cursor: pointer;
                a{
                    padding: 0px 10px;
                    text-decoration: none;
                    span{                        
                        color: #0085A1;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                &:hover{
                    color: white;
                    background-color: #0085A1;
                }
                
            }
        }
    }
}
.btn_arrow{
    font-size: 20px;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.btn_index{
    display: flex;
    justify-content: center;
    a{
        background: black;
        color: white !important;
        &:hover{
            opacity: 0.8;
        }
    }
}
