---
layout: default
---

<!-- Page Header -->
<script id="dsq-count-scr" src="//yeomi92.disqus.com/count.js" async></script> 
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <!-- <h1>{{ site.title }}</h1> -->
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <div class="post_list">
            {% for post in site.posts limit:5 %}
            <article class="post_preview">
              <div class="div_post">
                <div class="post_info">
                  <div class="post_date">{{ post.date | date: '%Y-%m-%d' }}</div>
                  <div class="post_title">[{{post.subtitle}}] {{ post.title }}</div>
                  <div class="post_excerpt">{{ post.excerpt | strip_html | truncatewords: 15 }}</div>
                </div>
                <div class="btn_read_post"><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <span>READ POST</span>
                </a></div>
            </div>
            </article>
            {% endfor %}
          </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>